.modal-manager {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9001;
}
.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.buy-now {
    min-height: 200px;
    background-color: var(--white);
    min-width: 420px;
    width: 500px;
    border-radius: 16px;
    padding: 32px 40px 40px;
}

.title {
    color: #303538;
}

.wrapper {
    border: 1px solid #e2e9ee;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.product {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 20px;

    + .product {
        margin-bottom: 20px;
    }
}

.product-img {
    max-height: 58px;
    width: 90px;
    border-radius: 6px;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;

    + .product-info {
        margin-left: 40px;
    }
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    color: #303538;
    margin-bottom: 5px;
    line-height: 1.2;
    width: 165px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-price,
.product-quantity {
    color: #4b5258;
    font-size: 14px;
}

.product-pay {
    border: 1px solid #e2e9ee;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    width: 100%;

    span {
        color: #303538;
    }
}

.action {
    display: flex;
    justify-content: space-between;
}

.btn-pay {
    background-color: transparent;
    font-weight: 700;
    color: white;
    padding: 10px;
    width: 100%;
}
