.link-product {
    margin: 0 30px 20px 0;
}
.contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 600px;

}
.container {
    display: flex;
    padding-top: 25px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.link-product {
    height: 100%;
}
.product {
    width: 100%;

    position: relative;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover .cart-button {
        opacity: 1;
    }
}

.product-img {
    height: 205px;
    border-radius: 0.5rem;
    transition: 0.3s ease;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-info {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.product-detail {
    flex: 1;
    width: 60%;
}

.product-detail .text-title {
    color: var(--default-color);
    font-weight: 700;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
    padding-right: 10px;
    margin-bottom: 2px;
}

.text-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #899298;
    font-size: 12px;
    line-height: 1.3;
}

.text-price {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    min-height: 25px;
    background-color: #dff8f6;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--default-color);
    font-weight: 700;
}

.cart-button {
    opacity: 0;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 55px;
    color: var(--white);
    background-color: var(--primary);
    margin-left: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s ease-in-out;
}

// Responsive
@media only screen and (max-width: 1050px) {
    .link-product {
        margin: 5px;
        width: 32%;
        margin-bottom: 10px;
    }
    .product-img {
        width: 100%;
    }
}
@media only screen and (max-width: 790px) {
    .link-product {
        margin: 5px;
        width: 48%;
        margin-bottom: 10px;
    }
    .product-img {
        width: 100%;
    }
}
@media only screen and (max-width: 540px) {
    .link-product {
        margin: unset;
        width: 100%;
        margin-bottom: 10px;
    }
    .product-img {
        width: 100%;
    }
}
